<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85922620112-qgvmg2rqm28ash5ng9eiu27b32lql5rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85922620112-qgvmg2rqm28ash5ng9eiu27b32lql5rf</string>
	<key>API_KEY</key>
	<string>AIzaSyDDMsNX967bCtkmM3sZLd9qJMLHFSXhdpk</string>
	<key>GCM_SENDER_ID</key>
	<string>85922620112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klit</string>
	<key>PROJECT_ID</key>
	<string>kliit-health-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kliit-health-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85922620112:ios:9f74c9b039b99da3</string>
	<key>DATABASE_URL</key>
	<string>https://kliit-health-app.firebaseio.com</string>
</dict>
</plist>